html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
    padding: 0px 10px;
    box-sizing: border-box;
}

.justifyTop {
    height: 600px;
}

.noshrink {
    flex-shrink: 0;
}

#reservedCanvas {
    width: 140px;
    height: 140px;
    margin-right: 10px;
    background: #333;
}

#gameContainer {
    width: 300px;
    height: 600px;
    margin-right: 10px;
    background: #333;
}

.gameItem {
    width: 300px;
    height: 600px;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

.overlay {
    background: #00000080;
}

.invisible {
    display: none;
}

.title {
    width: 300px;
    height: 100px;
    margin: 30px 0px 0px 0px;
    padding: 0px;
    text-align: center;
    font-family: monospace;
    font-size: 60px;
    color: #00FFFF;
}

#nameInput {
    width: 150px;
    height: 30px;
    margin: 155px 75px 0px 75px;
    padding: 0px;
    border: 0px;
    text-align: center;
    font-size: 20px;
    background: #444;
    color: white;
}

#nameInput::placeholder {
    color: #CCC;
}

#nameSubmit {
    width: 100px;
    height: 40px;
    margin: 200px 100px 0px 100px;
    padding: 0px;
    border: 0px;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    background: #CCC;
    color: #234;
    cursor: pointer;
}

#nameSubmit:hover {
    background: white;
}

.infoText {
    width: 250px;
    margin: 150px 25px 0px 25px;
    padding: 0px;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    color: white;
}

#hostStart {
    width: 100px;
    height: 40px;
    margin: 200px 100px 0px 100px;
    padding: 0px;
    border: 0px;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    background: #CCC;
    color: #234;
    cursor: pointer;
}

#hostStart:hover {
    background: white;
}

#upcomingCanvas {
    width: 140px;
    height: 600px;
    margin-right: 10px;
    background: #333;
}

#opponentCanvas {
    max-width: 600px;
    height: 600px;
    background: #333;
    transition: all 0.25s;
}
